@import '../abstracts/all';

html {
  font-size: 10px; // declare 10px in HTML => 1rem == 10px
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background: $color-body;
  color: $color-body-text;
  font-family: $font-stack;
  font-size: 16px; // declare 16px as the font default. Further on we'll be working with REM.
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;
  min-width: $body-min-width;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

input,
textarea,
select,
button {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: $color-url;
  cursor: pointer;
  text-decoration: none;

  strong,
  span {
    color: currentColor;
  }
}
