@import '../../config';
@import '../abstracts/all';

$container-spacing: 15px; // px to prevent incompatible px vs rem issues below

// default container to put your 'everything' in
.#{$block-prefix}container {
  margin-left: auto;
  margin-right: auto;
  padding: $container-spacing;
  width: 100%;

  // Max-width the container according to our breakpoints, and container-spacing.
  @include media--medium {
    max-width: ($media-medium-width - ($container-spacing * 2));
  }
  @include media--large {
    max-width: ($media-large-width - ($container-spacing * 2));
  }

  &--full {
    max-width: 100%;
  }
}

// to be used inside a kl-container
.#{$block-prefix}row {
  margin-left: -$container-spacing;
  margin-right: -$container-spacing;
  padding-left: $container-spacing;
  padding-right: $container-spacing;
  width: auto;
}
