@import '../../../config';
@import '../../abstracts/all';

.#{$form-block-name} {
  &__control {
    margin-bottom: 0.8rem;
    position: relative;
    width: 100%;

    &--disabled {
      cursor: not-allowed;
      filter: grayscale(100);
      opacity: 0.87;
    }

    // Form controls for radio & checkboxes can look and behave differently.
    &--radio,
    &--checkbox {
      cursor: pointer;
      display: block;
      position: relative;
      user-select: none;
      width: 100%;

      label {
        cursor: pointer;
        display: block;
        font-size: 1.6rem;
        position: relative;
        z-index: 9;
      }
    }
  }
}
