// (!) this Abstract is not allowed to @import other sheets, to prevent circular imports.

$color-body: #FFF;
$color-body-text: #222;

$color-primary: #007eb2;
$color-secondary: #c74f00;
$color-tertiary: #c2deea;

$color-url: #428bca;
$color-button-text: #FFF;

$color-header-text: #222;
$color-header-background: #FFF;

$color-medium-grey: #b9c1c4;
$color-dark-grey: #6e787d;
$color-black: #222;

$color-blue: #007eb2;
$color-green: #378700;
$color-yellow: #fecb00;
$color-red: #dc1427;
$color-orange: #c74f00;
